<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:fragment="head(title)"> <!--title为传参-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" th:href="@{/static/css/me.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
  </head>
<body>

<!--头部导航 包括：博客、分类、爱好、技术栈、登录的用户的头像、昵称-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
<!--      头部标签栏 -->
      <h2 class="ui teal header item">管理后台</h2>
<!--      博客 -->
      <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${n==1}?'active'"><i class="mini home icon"></i>博客</a>
<!--      分类 -->
      <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${n==2}?'active'"><i class="mini idea icon"></i>分类</a>
<!--      标签 -->
      <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3}?'active'"><i class="mini tags icon"></i>标签</a>
<!--      爱好 -->
      <a href="#" th:href="@{/admin/hobbies}" class="m-item item m-mobile-hide" th:classappend="${n==4}?'active'"><i class="mini tags icon"></i>爱好</a>
<!--     技术栈 -->
      <a href="#" th:href="@{/admin/technology}" class="m-item item m-mobile-hide" th:classappend="${n==5}?'active'"><i class="mini tags icon"></i>技术栈</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
<!--            默认显示为科比头像-->
            <img class="ui avatar image" src="/static/images/avatar.png" th:src="@{${session.user.avatar}}" alt="#">
<!--            用户的昵称-->
            <span th:text="${session.user.nickname}">yuyefanhua</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
            <a href="#" th:href="@{/}" class="item">去主页</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
<!--              微信图片、这里应该添加一个更换功能  后期如果扩展到多用户使用，需要使用数据库字段 -->
            <img src="/static/images/wechat.jpg" th:src="@{/static/images/wechat.jpg}"
                 class="ui rounded image" alt="" style="width: 110px">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin" th:value="${session.user.email}">604178275@qq.com </a>
          <a href="#" class="item m-text-thin">QQ：604178275</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced ">关于我</h4>
<!--          随便整点-->
        <p class="m-text-thin m-text-spaced m-opacity-mini">
            我是蒙奇·D·路飞!我怎么可能会输给一个舍弃自己的名字，从海上逃走的海贼呢?
            当一个海贼舍弃自己的名字时，就和死掉没啥两样了!你们可以用这辈子来记住我的名字!因为我是……未来的海贼王!!
            ————蒙奇D路飞</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2015 - 2089</p>
  </div>

</footer>


<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--    后台管理 无需 看板娘 -->
</th:block>

</body>
</html>